<article>
  <h1> About Me </h1>
  
  <p align="justify"> Graduating in Information Systems at the Federal University of Santa Catarina (UFSC). Quality Assurance Analyst at <a href="https://www.supero.com.br/" target="_blank" title="Site Supero. Está página será aberta em uma nova janela">Supero</a>. Web developer in his spare time.</p>

  <p align="justify"> Flexible, focused, patient and friendly professional. I am responsible and I like to work in teams with people who inspire me to offer the best I have. I seek new learning and moreover, I find it easy to adapt to new situations and work with all types of audiences. </p>

  <p align="justify"> I am passionate about software quality and I think when it comes to development, there is no better way to learn and work than being collaboratively ❤. </p>

  <p align="justify"> I have knowledge in planning and execution of test scenarios and development in HTML5, CSS3, JAVA, Javascript and some of their frameworks like ReactJS.</p>
</article> 
 <!--<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
-->
  <!--
    <div class="user">
      <div class="tech">
        <h2>Design</h2>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
          Vinyl XOXO lumbersexual</p>
      </div>
      <div class="tech">
        <h2>Code</h2>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark"></i>
        <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
          Vinyl XOXO lumbersexual</p>
      </div>
      <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-git-plain"></i>
        <i class="devicon-gulp-plain colored"></i>
        <i class="devicon-atom-original-wordmark"></i>
        <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
          Vinyl XOXO lumbersexual</p>
      </div>
    </div>
  -->
